<form [formGroup]="editForm" (submit)="updateCustomer()">
	<div class="border-bottom">
		<div class="row py-1">
			<div class="col-1" *ngIf="!customer.isNew">
				{{customer.id}}
			</div>
			<div [ngClass]="{'col-4': customer.isNew, 'col-2': !customer.isNew}">
				<app-customer-input [customer]="customer" [title]="'First Name'" [control]="first_name" [input]="'first_name'"></app-customer-input>
			</div>
			<div [ngClass]="{'col-4': customer.isNew, 'col-2': !customer.isNew}">
				<app-customer-input [customer]="customer" [title]="'Last Name'" [control]="last_name" [input]="'last_name'"></app-customer-input>
			</div>
			<div [ngClass]="{'col-4': customer.isNew, 'col-3': !customer.isNew}">
				<app-customer-input [customer]="customer" [title]="'Email'" [control]="email" [input]="'email'"></app-customer-input>
			</div>
			<div class="col-2" *ngIf="!customer.isNew">
				<fa-icon class="mr-2" [icon]="faEdit" data-toggle="tooltip" data-placement="top" title="Edit Customer" (click)="editCustomer()"></fa-icon>
				<fa-icon [icon]="faTrashAlt" data-toggle="tooltip" data-placement="top" title="Delete Customer" (click)="deleteCustomer(confirmDelete)"></fa-icon>
			</div>
			<div class="col-2" *ngIf="!customer.isNew">
				<span (click)="toggleDetails()" class="cursor-pointer">
					View Details
					<fa-icon *ngIf="customer.showDetails" [icon]="faCaretUp"></fa-icon>
					<fa-icon *ngIf="!customer.showDetails" [icon]="faCaretDown"></fa-icon>
				</span>
			</div>
		</div>
		<div [hidden]="!customer.showDetails" class="py-2">
			<div class="row">
				<div [ngClass]="{'col-4': customer.isNew, 'col-2 offset-sm-1': !customer.isNew}">
					<app-customer-input [customer]="customer" [title]="'IP'" [control]="ip" [input]="'ip'" [showTitle]="true"></app-customer-input>
				</div>
				<div [ngClass]="{'col-4': customer.isNew, 'col-2': !customer.isNew}">
					<app-customer-input [customer]="customer" [title]="'Latitude'" [control]="latitude" [input]="'latitude'" [showTitle]="true"></app-customer-input>
				</div>
				<div [ngClass]="{'col-4': customer.isNew, 'col-2': !customer.isNew}">
					<app-customer-input [customer]="customer" [title]="'Longitude'" [control]="longitude" [input]="'longitude'" [showTitle]="true"></app-customer-input>
				</div>
			</div>
			<div class="row py-2">
				<div [ngClass]="{'col-sm-12': customer.isNew, 'col-sm-11 offset-sm-1': !customer.isNew}" *ngIf="!customer.isNew">
					<span class="font-weight-bold">Created at: </span>{{customer.created_at | date: 'medium'}}
				</div>
			</div>
			<div class="row">
				<div class="col-sm-11 offset-sm-1" *ngIf="customer.updated_at">
					<span class="font-weight-bold">Updated at: </span>{{customer.updated_at | date: 'medium'}}
				</div>
			</div>
			<div class="row">
				<div [ngClass]="{'col-sm-3 offset-sm-9': customer.isNew, 'col-sm-2 offset-sm-6': !customer.isNew}" *ngIf="customer.editMode">
					<button type="submit" class="btn btn-block btn-success" id="updateCustomer" [disabled]="editForm.invalid">Update Customer</button>
				</div>
			</div>
		</div>
	</div>
</form>

<ng-template #confirmDelete>
	<div class="modal-header">
		<h5 class="modal-title">Delete customer</h5>
		<button type="button" class="close" (click)="closeModal()">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>
	<div class="modal-body">
		<p>Are you sure you want to delete {{customer.first_name}} {{customer.last_name}}?</p>
	</div>
	<div class="modal-footer">
		<button type="button" class="btn btn-secondary" (click)="closeModal()">No</button>
		<button type="button" class="btn btn-primary" (click)="confirm()">Yes</button>
	</div>
</ng-template>